<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <style>
        body {
            font-family: monospace;
        }
    </style>
</head>
<body>
    <%= for c <- cases do %>
    <p><%= Enum.reduce(c.path, &(&2 <> "/" <> &1)) %></p>
    <% end %>
</body>
</html>
