<!DOCTYPE html>
<html lang="en">
<head>
   <script src="https://cdn.tailwindcss.com"></script>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Tasks</title>
</head>
<body>
   <div class="space-y-5">
      <%= for c <- cases do %>
      <div class="mx-auto px-4 font-mono">
         <p class="font-semibold <%= if c.success, do: "text-green-900", else: "text-red-700" %>"><span><%= Enum.reduce(c.path, &(&2 <> "/" <> &1)) %></span></p>
         <div class="whitespace-pre text-sm"><%= c.request %></div>
         <div class="whitespace-pre text-sm"><%= c.response.expected %></div>
         <div class="whitespace-pre text-sm"><%= c.response.actual %></div>
      </div>
      <% end %>
   </div>
</body>
</html>
